body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f2f5;
}

.header {
    background-color: #405b9b;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    height: 60px;
}

.sidebar {
    background-color: #ccc; /* cinza claro */
    color: white;
    padding: 20px;
    width: 15%;
    height: calc(100vh - 80px); /* Altura total menos a altura do topo */
    float: left;
    box-sizing: border-box;
    font-family: 'Segoe UI Bold', sans-serif;
}

.main {
    background-color: white;
    padding: 20px;
    width: 85%;
    float: left;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    overflow-y: auto;
}

.title {
    color: white;
    font-family: 'Segoe UI';
    font-size: 28px;
    margin: 0;
}

.radio-header {
    display: flex;
    gap: 20px;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
}

.filter-sidebar {
    display: flex;
    gap: 20px;
    color: Black;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
}